name: Container Deployment

on:
  push:
    branches: ["main"]

env:
  IMAGE_BASE_NAME: irvingvjuarez/fastapi-crud

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repository
      - name: Check out the repo
        uses: actions/checkout@v3

      # 2️⃣ Set up Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      # 3️⃣ Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      # 4️⃣ Run tests
      - name: Run tests
        run: python -m pytest

      # 5️⃣ Build Docker image
      - name: Build Docker image
        run: |
          docker build --platform linux/amd64 -t $IMAGE_BASE_NAME .

      # 6️⃣ Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with: 
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      # 7️⃣ Deploy image to Docker Hub
      - name: Deploy image to Docker Hub
        run: |
          docker push $IMAGE_BASE_NAME:latest
